---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout lang="es" title="KUSI ES">
  <section class="max-w-[1120px] mx-auto px-4 md:px-6 py-16">
    <h1 class="text-4xl font-bold">ES Home</h1>
  </section>
</BaseLayout>